params {
  inputFilePath = "$baseDir/data/input.fa"
  fastaSubsetSize = 500
  outputFileName = "tmhmm.out"
  outputDir = "$launchDir/output"
}


process {
    maxForks = 5

     withName: tmhmm {
        container = "jbrestel/tmhmm"
        ext.args = "-short"
    }
}

includeConfig "$baseDir/conf/docker.config"

